<div class="row-fluid">

	<div class="span6">

		<p>
			WelcomeRain , New way to monitor huge virtual machines.
		</p>
		<p>
			Brought by MHR inc.
		</p>

	</div>

	<div class="span6">
		<div class="right">
			<a href="#" class="">Help</a>&nbsp;&nbsp;|&nbsp;&nbsp;			
			<a href="#" class="">Company</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="#" class="">Terms of Use</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="#" class="">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="#" class="">Contact Us</a>&nbsp;&nbsp;
			
		</div>

	</div>

</div>

<br>
<br>